[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
black = "*"
pylint = "*"
pre-commit = "*"
pipenv-to-requirements = "*"

[packages]
pandas = "*"
dash = "*"
plotly = "*"
gunicorn = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
